<div class="news-contents">
  <div class="n-title">
    <h3 class="destroy">イベントの投稿を削除しました。</h3>
  </div>
</div>
<div class="n-buttons-destroy">
  <div class="n-buttons-contents">
    <ul>
      </li>
      <li>
        <div class="btn">
          <div class="btn-content">
            <div class="btn-hover"></div>
            <%= link_to "event top", events_path, class: 'btn--readmore' %>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
