<div class="form-container">
  <h3>イベント投稿</h3>

  <div class="form-content">
    <p id="red-border">イベントの投稿は下記フォームよりお願いいたします。<br>（<span>※</span>は必須入力項目となります。）</p>

    <div class="form">
      <form>
        <table>
          <tbody>
            <tr>
              <th>
                イベントタイトル<span>*</span>
              </th>
              <td>
                <input type="text" name="name" placeholder="桜まつり">
              </td>
            </tr>
            <tr>
              <th>
                開催時間<span>*</span>
              </th>
              <td>
                <input type="text" name="name" placeholder="10:00~17:00">
              </td>
            </tr>
            <tr>
              <th>
                開催日<span>*</span>
              </th>
              <td>
                <input type="text" name="name" placeholder="4月1日〜4月7日">
              </td>
            </tr>
            <tr>
              <th>
                主催<span>*</span>
              </th>
              <td>
                <input type="text" name="name" placeholder="福岡市">
              </td>
            </tr>
            <tr>
              <th>
                開催場所<span>*</span>
              </th>
              <td>
                <input type="text" name="name" placeholder="舞鶴公園">
              </td>
            </tr>
            <tr>
              <th>
                参加費<span>*</span>
              </th>
              <td>
                <input type="text" name="name" placeholder="無料">
              </td>
            </tr>
            <tr>
              <th>
                イベント内容<span>*</span>
              </th>
              <td>
                <textarea name="message" placeholder="イベントの内容を記入してください。"></textarea>
              </td>
            </tr>
            <tr>
              <th>
                画像ファイル添付
              </th>
              <td>
                <input type="file" name="news-pic">
              </td>
            </tr>
          </tbody>
        </table>
        <p>入力内容を再度ご確認の上、間違えがなければ下の送信ボタンをクリック・タップしてください。</p>
        <p class="submit">
          <input type="submit" value="イベントを投稿する" class="submit-btn">
        </p>
      </form>
    </div>

    <div class="notes">
    </div>
  </div>
</div>
