<div class="event-container">
  <div class="event-details">
    <dl class="event-name">
      <dt>イベント名：</dt>
      <dd>ドウゴ”街”ダンス＠道後商店街</dd>
    </dl>
    <dl class="event-date">
      <dt>開催日：</dt>
      <dd>02月23日</dd>
    </dl>
    <dl class="event-time">
      <dt>時間：</dt>
      <dd>2/23土 9:00-21:00、2/24日 10:00-17:00※両日、雨天中止</dd>
    </dl>
  </div>

  <div class="event-poster">
    <img src="images/event-poster.jpg">
  </div>

  <div class="event-text">
    <p>道後におけるまちづくりと芸術文化、観光振興の推進を図る「道後雲使い集団」と建築家・バンバタカユキによる「街の中の雲」。8月に引き続き、飛鳥乃湯泉中庭に大きな風船状の「雲」を浮かばせます。今回は雲の下にこたつが登場！雲のある庭をお楽しみください！　協力：道後温泉誇れるまちづくり推進協議会・伊予匠ノ会・帝人フロンティア株式会社・帝人株式会社／後援：松山市・松山市教育委員会／問い合わせ先：udcm.matsuyama@gmail.com （松山アーバンデザインセンター内道後雲使い集団）
    </p>
  </div>

  <div class="event-details" id="bottom-detail">
    <dl class="event-host">
      <dd>主催：</dd>
      <dd>道後アートプロジェクト・アートNPOカコア</dd>
    </dl>
    <dl class="event-place">
      <dd>場所：</dd>
      <dd>飛鳥乃湯泉中庭</dd>
    </dl>
    <dl class="event-price">
      <dd>参加費：</dd>
      <dd>無料</dd>
    </dl>
  </div>

  <div class="e-button">
    <ul>
      <li class="first-b">
        <div class="btn">
          <div class="btn-content">
            <div class="btn-hover"></div>
            <a class="btn--readmore" href="#">prev</a>
          </div>
        </div>
      </li>
      <li>
        <div class="btn">
          <div class="btn-content">
            <div class="btn-hover"></div>
            <a class="btn--readmore" href="#">event top</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
