<div class="news-contents">
  <div class="n-title">
    <h2>作品メンテナンスのお知らせ</h2>
    <div class="news-date">2019.01.18</div>
  </div>
  <div class="news-contents-pic">
    <img src="images/art1.png" alt="ひかりの実">
  </div>
</div>
<div class="news-text">
  <p>冠山に設置されています、スティーヴン・ムシンの作品<br>「Floating on Steam（大影絵／道後夜話）」ですが、<br>機材メンテナンスのため、現在公開が中止されております。<br><br>また、メンテナンスが終了次第お知らせいたしますのでご了承くださいませ。</p>
</div>
<div class="n-buttons">
  <div class="n-buttons-contents">
    <ul>
      <li class="first-button">
        <div class="btn">
          <div class="btn-content">
            <div class="btn-hover"></div>
            <a class="btn--readmore" href="#">prev</a>
          </div>
        </div>
      </li>
      <li>
        <div class="btn">
          <div class="btn-content">
            <div class="btn-hover"></div>
            <a class="btn--readmore" href="#">news top</a>
          </div>
        </div>
      </li>
      <li class="last-button">
        <div class="btn">
          <div class="btn-content">
            <div class="btn-hover"></div>
            <a class="btn--readmore" href="#">next</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
