<div class="form-container">
  <h3>お問い合わせ</h3>

  <div class="form-content">
    <p id="red-border">当サイトにお越しいただき、ありがとうございます。<br>ご質問やお問い合わせなど、下記フォームよりお願いいたします。<br>（<span>※</span>は必須入力項目となります。）</p>

    <div class="form">
      <form>
        <table>
          <tbody>
            <tr>
              <th>
                氏名<span>*</span>
              </th>
              <td>
                <input type="text" name="name" placeholder="山田 太郎">
              </td>
            </tr>
            <tr>
              <th>
                ふりがな
              </th>
              <td>
                <input type="text" name="name-furi" placeholder="やまだ たろう">
              </td>
            </tr>
            <tr>
              <th>
                郵便番号
              </th>
              <td>
                <input type="text" name="zip-cord" placeholder="790-0842">
              </td>
            </tr>
            <tr>
              <th>
                メールアドレス<span>*</span>
              </th>
              <td>
                <input type="text" name="email" placeholder="info@dougoonsenart.com">
              </td>
            </tr>
            <tr>
              <th>
                お問い合わせ内容<span>*</span>
              </th>
              <td>
                <textarea name="message" placeholder="こちらにお問い合わせ内容を記入してください。"></textarea>
              </td>
            </tr>
          </tbody>
        </table>
        <p>入力内容を再度ご確認の上、間違えがなければ下の送信ボタンをクリック・タップしてください。</p>
        <p class="submit">
          <input type="submit" value="上記の内容で送信する" class="submit-btn">
        </p>
      </form>
    </div>

    <div class="notes">
      <h4>注意事項</h4>
      <p>連絡先の記入間違いにより返信ができない事例がございます。今一度お電話番号、メールアドレスをご確認ください。<br>
また、自動送信メールが送られてこない場合は下記の要因が考えられますので、 今一度ご確認の上、再度フォームより送信をお願いします。<br>
(1) メールアドレスの打ち間違いにより返信ができない場合。 コピー＆ペーストをせず、.（ピリオド）と,（カンマ）の打ち間違いやスペルミスに注意して再度ご入力ください。<br>
(2) 携帯メールで、受信制限の設定をしている場合。 ドメイン指定受信を設定されている場合、弊社からのメールを受信する事ができません。 下記のドメイン指定の設定を行ってくださいますようお願いします。<br>
dogoonsenart.com<br>
を受け取りたいメールとして登録して下さい。<br>
(3) 迷惑メールフォルダに入っている場合 お客様がお使いのメールソフトの設定によっては、弊社からのメールを自動的に迷惑メールとして振り分けてしまうことがあります。今一度、迷惑メールフォルダをご確認ください。</p>
    </div>
  </div>
</div>
