  <div class="about-container">
    <div class="main">
    </div>

    <section class="about">
      <h2>「よかもんジャーナル」とは</h2>
      <div class="about-contents">
        <h3>福岡の良いものを<br>誰でも簡単に投稿できるサービス</h3>
        <p>福岡のイベントやニュースを誰もが観覧でき、ユーザー登録すれば投稿もできるサービスを作りました。<br>福岡は料理が美味しい！可愛い子が多い！空港から市街地までが近くて便利！などなど、様々な声を聞きます。そんな福岡の「よかもん（良いもの）」を集めて発信してみませんか？</p>
      </div>
    </section>

    <section class="feature">
      <h2>「よかもんジャーナル」の使用方法</h2>
      <p>ニュースやイベントの観覧は誰でもできます。<br>
      自ら情報を発信したい方はまずは右上の「新規登録」ボタンからユーザー登録を行ってください。登録ができれば「POST NEWS」または「POST EVENT」を押せば簡単に投稿ができます。<br>
    もしも自分の投稿を「編集」・「削除」したい場合は、投稿した記事のページで ▼ ボタンにカーソルを合わせると「編集」「削除」のボタンが出てきますので、そちらから行えます。<br>
  さっそく使ってみてください！</p>
    </section>

    <section class="outline">
      <h2>制作概要</h2>
      <p>
        プログラミングスクールでRuby on Railsを学び、制作物としてこのよかもんジャーナルをつくりました。このwebアプリはrailsで「ユーザー登録機能」「投稿機能」「投稿者のみが削除できる機能」「投稿者のみが編集できる機能」などを実装しています。利用者が簡単に使えるようにユーザー登録しなくてもイベントのタイトルや詳細が確認できるなど、こだわりがたくさんあります。
        是非利用して、機能を確認してみてください。
      </p>
    </section>

    <div class="btn" id="about-b">
      <div class="btn-content">
        <div class="btn-hover"></div>
        <%= link_to 'top', root_path, class: "btn--readmore" %>
      </div>
    </div>
  </div>
