  <div class="about-container">
    <div class="main">
    </div>

    <section class="about">
      <h2>「道後オンセナート」とは</h2>
      <div class="about-contents">
        <h3>＜オマージュ＞ をキーワードに<br>約20名のアーティスト作品を展開</h3>
        <p>愛媛県松山市「道後温泉」では2017年９月より、４年ぶりとなるアートの大祭「道後オンセナート2018」を開催いたします。<br>
  2014年、道後温泉本館が改築120周年の大還暦を迎えたことを記念して開催された「道後オンセナート2014」では、温泉という地域資源に「アート」という新しい魅力が組み合わさり、多くの観光客や市民で道後がにぎわいました。この取り組みは、「道後アート2015」、「道後アート2016」に引き継がれ、さらに今年は４年ぶりとなる大規模なアートフェスティバルとして展開されます。<br>
  「道後オンセナート」のコンセプトテーマは2014年に引き続き、「アートにのぼせろ　~温泉アートエンターテイメント~」です。「のぼせる」とは夢中になるということ。 道後で展開されるアートは一部の人々に与えられる“特別なもの”ではなく、自由に感じられる、鑑賞できる、ごく身近なものです。 日本最古といわれる道後温泉で、人と土地のエネルギーを浴び、体験することで、大人も子どもも、遠方から来る人も地域の人も、 頭も体も楽しく「のぼせよう」というメッセージが込められています。<br>
  2017年9月のプレオープンを皮切りに、2018年4月のグランドオープン、2019年2月のフィナーレまでの18ヶ月間、ホテルや街中に設置される作品と多様なイベントを組み合わせて展開されます。</p>
      </div>
    </section>

    <section class="feature">
      <h2>「道後オンセナート2018」の特徴</h2>
      <p>今回は〈オマージュ〉（賛歌）をキーワードに、約20名のアーティストの作品が道後の街を彩ります。道後温泉本館は明治以降、近代的温泉リゾートの先駆けとして、風格のある姿で親しまれてきました。改築当時、百年先を見据え、その礎を築いた道後温泉本館の存在を振り返り、アート作品でその果たした役割を讃えるとともに、これから先、百年の役割をアートの持つ力によって担いたいと考えています。主役はアーティストやアート作品だけではありません。道後温泉だからできること、楽しめることを旅人や地元の人たちとともに作り上げていきます。</p>
    </section>

    <section class="outline">
      <h2>開催概要</h2>
      <p>
        名　　　称：道後オンセナート2018 (どうごおんせなーとにせんじゅうはち)/ DOGO ONSENART2018<br>
        コンセプト：アートにのぼせろ　〜温泉アートエンターテイメント〜<br>
        会　　　場：道後温泉及びその他周辺エリア<br>
        会　　　期：2017年9月2日(土) 〜 2019年2月28日(木)　18ヶ月間<br>
        主　　　催：道後オンセナート実行委員会<br>
        共　　　催：道後温泉旅館協同組合・道後商店街振興組合・松山市<br>
        協　　　賛：全日本空輸株式会社・株式会社リクルートライフスタイル・楽天株式会社・株式会社ビームス・日本航空株式会社・株式会社一六本舗・伊予銀行・愛媛銀行・愛媛信用金庫・株式会社ミズカミ・伊予鉄道株式会社・株式会社ハタダ・セキ株式会社・株式会社エス・ピー・シー・えひめリビング新聞社
      </p>
    </section>

    <div class="btn" id="about-b">
      <div class="btn-content">
        <div class="btn-hover"></div>
        <a class="btn--readmore" href="#">top</a>
      </div>
    </div>
  </div>
