<header>
  <div class="header--contents">
    <div class="logo">
      <a href="#">
        <img src="images/onsenart_logo.svg" alt="道後オンセナート">
      </a>
    </div>
    <ul class="header--topnav">
      <li class="header--topnav__lung en">
        <a href="#">ENGLISH</a>
      </li>
      <li class="header--topnav__lung">
        <a href="#">中文繁體</a>
      </li>
      <li class="icon">
        <div class="round-icon">
          <a href="#">
            <i class="fab fa-facebook-f fa-lg"></i>
          </a>
        </div>
      </li>
      <li class="icon">
        <div class="round-icon">
          <a href="#">
            <i class="fab fa-twitter fa-lg"></i>
          </a>
        </div>
      </li>
      <li class="icon">
        <div class="round-icon">
          <a href="#">
            <i class="fab fa-instagram fa-lg"></i>
          </a>
        </div>
      </li>
      <li class="icon last-icon">
        <div class="round-icon">
          <a href="#">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </li>
    </ul>
    <ul class="header--secondnav">
      <li>
        <a href="#">ガイドマップ・アクセス</a>
      </li>
      <li>
        <a href="#">お問い合わせ</a>
      </li>
      <li>
        <a href="#">スポンサー</a>
      </li>
      <li>
        <a href="">取材申し込み</a>
      </li>
    </ul>
    <div class="header--glovalnav">
      <ul>
        <li>
          <a href="#">
            <span class="eng">ABOUT</span>
            <span class="ja">道後オンセナートとは</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="eng">NEWS</span>
            <span class="ja">最新情報</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="eng">EVENT</span>
            <span class="ja">イベント情報</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="eng">ART</span>
            <span class="ja">アート作品</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="eng">ARTIST</span>
            <span class="ja">アーティスト</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="eng">SUPPORTER</span>
            <span class="ja">サポーター</span>
          </a>
        </li>
        <li class="last">
          <a href="#">
            <span class="eng">RECOMMEND</span>
            <span class="ja">おすすめモデルコース</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
