!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title YokamonJournal
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .header--contents
        .logo
          %a{ href: '#' }
            %img{ src:"images/onsenart_logo.svg", alt:"道後オンセナート" }
        %ul.header--topnav
          %li.header--top__lung en
            %a{ href:'#' }ENGLISH
          %li.header--topnav__lung
            %a{ href:'#' }中文繁體
          %li.icon
            .round-icon
            %a{ href:'#' }
              %i.fab fa-facebook-f fa-lg
          %li.icon
            .round-icon
            %a{ href:'#' }
              %i.fab fa-twitter fa-lg
          %li.icon
            .round-icon
            %a{ href:'#' }
              %i.fab fa-instagram fa-lg
          %li.icon
            .round-icon
            %a{ href:'#' }
              %i.fab fa-youtube
        %ul.header--secondnav
          %li
            %a{ href:'#' }ガイドマップ・アクセス
          %li
            %a{ href:'#' }お問い合わせ
          %li
            %a{ href:'#' }スポンサー
          %li
            %a{ href:'#' }取材申し込み
        .header--glovalnav
          %ul
            %li
              %a{ href:'#' }
                %span.eng
                  ABOUT
                %span.ja
                  道後オンセナートとは
            %li
              %a{ href:'#' }
                %span.eng
                  ABOUT
                %span.ja
                  道後オンセナートとは
            %li
              %a{ href:'#' }
                %span.eng
                  NEWS
                %span.ja
                  最新情報
            %li
              %a{ href:'#' }
                %span.eng
                  EVENT
                %span.ja
                  イベント情報
            %li
              %a{ href:'#' }
                %span.eng
                  ART
                %span.ja
                  アート作品
            %li
              %a{ href:'#' }
                %span.eng
                  ARTIST
                %span.ja
                  アーティスト
            %li
              %a{ href:'#' }
                %span.eng
                  SUPPORTER
                %span.ja
                  サポーター
            %li
              %a{ href:'#' }
                %span.eng
                  RECONMMEND
                %span.ja
                  おすすめモデルコース
    = yield
